#!/usr/bin/env python
PACKAGE = "rosneuro_cybathlon_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("bars_v", double_t, 0, "Integration velocity of the bars", 1/32, 0.0, 1.0)

exit(gen.generate(PACKAGE, "rosneuro_cybathlon_controller", "Bars"))
